.investment-section {
    background: #000;
    padding: 100px 0 45vh;
    background-image: url("/images/home/invest-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .section-title {
        justify-content: center;

    }

    .inves-slider {
        position: relative;
        top: 45vh;
        z-index: 0;


        .inves-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 750px;
            height: 750px;
            color: #fff;
            background: linear-gradient(to right, #000, #000) padding-box,
                linear-gradient(to bottom right, #5e80bf, #4e30ef, rgba(238, 34, 129, 0.7803921569)) border-box;
            border-radius: 50%;
            border: 6px solid transparent;
            background-color: transparent;



            .bg-circle-block {
                position: absolute;
                top: 26%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;

                p {
                    @include font-rem(28px, 35px);
                    font-weight: 700;
                    text-align: left;
                }

                h4 {
                    @include font-rem(54px, 50px);

                }

                span {
                    align-self: end;
                }
            }

            .inves-icon-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;

                .inves-plan {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-image: linear-gradient(to bottom right, #4e30ef 30%, #e4777c);
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;

                    p {
                        @include font-rem(11px);
                        font-weight: 700;
                        text-transform: capitalize;
                        letter-spacing: 0;
                    }

                    h3 {
                        @include font-rem(27px, 17px);

                        sup {
                            top: 0;
                        }
                    }

                    span {
                        @include font-rem(11px);
                        text-transform: uppercase;
                    }
                }

                .inves-inner-title {
                    @include font-rem(12px);
                    padding: 2px 10px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 25px;
                    margin-bottom: 10px;
                    background-image: linear-gradient(to right, #4e30ef 30%, #e4777c);

                }



                &.circle-one-icon-01 {
                    top: 43%;
                    left: 43%;
                    animation: roation-one 36s linear infinite;
                }

                &.circle-two-icon-02 {
                    top: 41%;
                    left: 39%;
                    animation: roation-two 24s linear infinite;
                }

                &.circle-three-icon-01 {
                    top: 38%;
                    left: 40%;
                    animation: roation-three 25s linear infinite;
                }

                &.circle-one-icon-02 {
                    top: 43%;
                    left: 43%;
                    animation: roation-one 24s linear infinite;
                }

                &.circle-two-icon-02 {
                    top: 41%;
                    left: 39%;
                    animation: roation-two 19s linear infinite;
                }

                &.circle-three-icon-02 {
                    top: 38%;
                    left: 40%;
                    animation: roation-three 18s linear infinite;
                }
            }
        }

        // .circle-1 {
        //     width: 750px;
        //     height: 750px;
        // }
        .icon-circle-2 {
            width: 600px;
            height: 600px;
        }

        .icon-circle-3 {
            width: 450px;
            height: 450px;
        }

        .icon-circle-4 {
            width: 300px;
            height: 300px;
            background: rgba(128, 128, 128, 0.445);
        }

        @keyframes roation-one {
            0% {
                transform: rotate(0deg) translate(375px) rotate(0deg);
            }

            100% {
                transform: rotate(360deg) translate(375px) rotate(-360deg);
            }
        }

        @keyframes roation-two {
            0% {
                transform: rotate(0deg) translate(300px) rotate(0deg);
            }

            100% {
                transform: rotate(360deg) translate(300px) rotate(-360deg);
            }
        }

        @keyframes roation-three {
            0% {
                transform: rotate(0deg) translate(225px) rotate(0deg);
            }

            100% {
                transform: rotate(360deg) translate(225px) rotate(-360deg);
            }
        }
    }
}